h1 {
    background-color: yellowgreen;
    color: blueviolet;
}

p {
    background-color: yellow;
    color: blue;
}

body {
    background-color: pink;
}

button {
    background-color: blueviolet;
    color: blanchedalmond;
}